<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>

    <title>Backend Ninja - Signin</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    
 	<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />
 	
  </head>

  <body>
	
	<div class="container">
	
		<h1>Hello, user!</h1>
		<br/>
		<div class="panel panel-default">
			<div class="panel-heading"></div>
			<table class="table">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Telephone</th>
						<th>City</th>
						<th>Actions</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact : ${contactos}">
						<td th:text="${contact.nombre}"></td>
						<td th:text="${contact.apellido}"></td>
						<td th:text="${contact.telefono}"></td>
						<td th:text="${contact.ciudad}"></td>
						<td>
							<a href="#" th:href="@{/contactos/contactoform?id=__${contact.id}__}">
							<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
							</a>
							
							<a href="#" th:href="@{/contactos/eliminarContacto?id=__${contact.id}__}">
							<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
							</a>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		
		<div th:if="${result == 1}" class="alert alert-success" role="alert" >Agregado Correctamente</div>
		<div th:if="${result == 0}" class="alert alert-danger" role="alert" >Error al Agregar</div>
		
		<a href="#" th:href="@{/contactos/contactoform?id=0}">
		<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add contact</button>
		</a>
		<a href="#" th:href="@{/login?logout}">
		<button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</button>
		</a>
	</div>


</body>
</html>